<%- include("templates/header") %>

<div class="box">

    <h1>Apex Predator</h1>
    <br>
    <a href="/members">Introducing Your Champion</a>
  <a href="/logout">Logout?</a>

</div>

<%- include("templates/footer") %>